{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='card'>
    <div class='card-header'>
        <h1>{% trans 'Enter Promo Code' %}</h1>
    </div>
    <div class='card-body'>
        <form action="{% url 'open-validation'  %}" method="POST">
            {% csrf_token %}
            <div class='form-row'>
                <label for="code-input">{% trans 'Code' %}</label>
                <input type="text" name="code" id="code-input">
            </div>
            <div class='form-group'>
                <button type="submit" class="btn btn-success">{% trans 'Apply' %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}